/* tablette */
@media screen and (min-width: 540px) {
    .header {
        .search-desktop {
            display: inline;
            margin-top: 3%;
            margin-left: 65%;
            border: none;

        }

        .logo {
            left: 7%;
        }

        .button-filter {
            display: none;
        }

        .button-connexion {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 6px;
        }

        @include main-back;
    }
}