/* tablette */
.button-connexion {
    display: none;
}

.search-mobile {
    display: none;
}

/* ----- Header ---- */

.header {
    .search-desktop {
        display: inline;
        @include search(17px, 50%, 35%);
    }

    /* ----- Section Propositions ----- */

    .selection-highlight {

    }
}